<header id="home">
    <section class="text-center">
        <h1>Society of Automotive Engineers</h1>
        <p>For the few who know the difference</p>
        <br>
        <p><a class="sscroll slider-more" href="#team"><i class="fa fa-angle-down"></i></a></p>    
    </section>    
</header>

<article id="about" class="container">
    <section class="row text-center" id="about-head">
        <div class="col-12">
            <h1>about</h1>
            <p class="text-muted">Get to know about our various Competitions.<br>Come.Experience the Thrill.</p>
        </div>
    </section>
    <section class="row text-center" id="about-content">
        <div  class="col-md-4 col-sm-6 col-12" id="about-card">
            <div class="about-card-head" id="about-card-head">
                <i class="fa fa-flag-checkered fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>Supra SaeIndia</h3>
                <p class="text-muted">SUPRA SAEINDIA is an exciting competition which presents the Engineering Students with a challenging task of designing, simulating and modeling a formula type race car.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="about-card-head">
                <i class="fa fa-bicycle fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>EFFI-CYCLE</h3>
                <p class="text-muted">“EFFI-CYCLE” derived from Efficient-Cycle promote objective of providing oppurtunity to the students to conceive, design and fabricate  a three wheel configuration vehicle powered by human-electric hybrid power.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="about-card-head">
                <i class="fa fa-truck fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>EFFI CARS</h3>
                <p class="text-muted">EFFI-CARS is a unique platform for engineering students to use their learning for practical purposes. The event is aimed at designing and fabricating a 2-seater 4-wheeled, electric powered vehicle.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="about-card-head">
                <i class="fa fa-car fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>Go-Kart</h3>
                <p class="text-muted">Kart racing or karting is a variant of open-wheel motorsport with small, open, four-wheeled vehicles called karts, go-karts, or gearbox/shifter karts depending on the design.They are raced on scaled-down circuits.</p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="about-card-head">
                <i class="fa fa-rocket fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>Innovation</h3>
                <p class="text-muted">Store works fundamentally on challanges the way businesses and industries operate robotics and embedded at a measurable value for our clients and society </p>
            </div>
        </div>
        <div  class="col-md-4 col-sm-6 col-12">
            <div class="about-card-head">
                <i class="fa fa-book fa-4x"></i>
            </div>
            <div class="about-card-tile">
                <h3>Acar</h3>
                <p class="text-muted">Experiential learning component of education provider that helps students to learn the necessary skills, attitudes and knowledge required to practice effectively in their field.</p>
            </div>
        </div>
        
    </section>
</article>

<article id="portfolio">
    <div class="container">
        <section class="row text-center" id="portfolio-head">
            <div class="col-12">
                <h1>portfolio</h1>
                <p class="text-center">Our Work Showcase</p>
                <hr>
                <br>
            </div>
        </section>
        <section class="row text-center" id="portfolio-main">
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port1.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port2.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port3.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port4.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port5.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port6.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port7.jpg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <img class="img-fluid rounded" src="../../assets/port8.jpg"/>
            </div>
        </section>
    </div>
</article>
<article class="container-fluid"  id="team">
    <div class="container">
        <section class="row" id="team-head">
            <div class="col-12">
                <h1 class="text-center">OUR TEAM. MEET US</h1>
            </div>
        </section>
        <section class="row text-center" id="team-member">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/team1.jpg" class="img-fluid">
                <h4>Gagan Singhal</h4>
                <p class="text-muted">President</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/team2.jpg" class="img-fluid">
                <h4>Shivam Gupta</h4>
                <p class="text-muted">Vice-President</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/team3.jpg" class="img-fluid">
                <h4>Gunjan Pandey</h4>
                <p class="text-muted">Secretary</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <img src="../../../assets/team4.jpg" class="img-fluid">
                <h4>Harshit Baranwal</h4>
                <p class="text-muted">Program Chair</p>
                <div>
                    <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                    <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                    <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
            </div>
        </section>
    </div>
</article>

<article class="container" id="sponsors">
    <section class="row justify-content-center">
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/sponsor1.jpg" class="img-fluid">
        </div>
        <div class="col-md-3 col-sm-6 col-6">
            <img src="../../../assets/sponsor2.jpg"  class="img-fluid">
        </div>
    </section>
</article>

<article class="container-fluid" id="contact">
   <div class="container">
        <section class="row text-center">
            <div class="col-12">
                <h1>CONTACT US</h1>
                <p class="text-muted">We are friendly and avaliable to chat. Reach out to us anytime and we'll hapily answer your question</p>
                <h3>WE'RE HERE TO HELP!</h3>
                <div>
                    <button data-toggle="modal" data-target="#contactModal">FEEDBACK</button>
                </div>
                <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Your Name:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Your Email:</label>
                                        <input type="text" class="form-control" id="recipient-email">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Subject:</label>
                                        <input type="text" class="form-control" id="recipient-subject">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="form-control-label">Message:</label>
                                        <textarea class="form-control" id="recipt-message"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p></p>
                <br>
                <h5>CONNECT WITH US:</h5>
                <p><i class="fa fa-home fa-2x"></i>Ajay Kumar Garg Engineering College,Ghaziabad,Uttar Pradesh,India</p>
                <p>You can give us a call on <span><i class="fa fa-phone"></i> +91-7065210476</span> or 
                    <span><i class="fa fa-phone"></i> +91-8743942949</span>
                <br><br>Or email us at  <span><i class="fa fa-envelope"></i> saeindiaakgec@gmail.com</span> or <span><i class="fa fa-envelope"></i> bravado.motorsport@gmail.com</span></p>
            </div>
        </section>
   </div>
</article>